html, * {
    margin: 0;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
}

body {
    font-family: serif;
    background-color: teal;
    width: 100%;
    min-height: 100%;
}

header {
    background-color: gold;
    border-top: auto;
    padding: 15px;
}

h1 {
    color: black;
    font-size: 50px;
}

#profile {
    display: flex;
    justify-content: center;
}

form {
    padding: 20px;
    background-color: gold;
    text-align: center;
}


#section {
    border-color: black;
    border-radius: 20px;
}

input {
    display: block;
    margin: auto;
    width: 15%;
    padding: 8px;
}

button {
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: teal;
}

img {
    margin-left: 760px;
    width: 400px;
    height: 150px;
}

#placeholder {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: gold;
}